<% include partials/header %>

<div id="content">
    <h1 class="header">Staff Picks</h1>
    <div class="ui one cards">
        <a href="coin/<%=staffPick.id%>">
            <div class="ui card" id="<%=staffPick.symbol%>">
                <img src="<%=logos[staffPick.symbol]%>" class="logo">
                <div class="card-content">
                    <h1 class="coin-name"><%= staffPick.name %></h1>(<%= staffPick.symbol %>)
                    <div class="info">
                        <a href="coin/<%=staffPick.id%>">View More</a>
                    </div> 
                    <div class="price-block <%=staffPick.id%>">
                        $<%=staffPick.price_usd%> | <%=staffPick.percent_change_24h%>%
                    </div>
                </div>
                <!--SCRIPT-->
                <script>
                    var block = document.querySelector(".price-block.<%=staffPick.id%>");
                    console.log(block);
                    if(<%=staffPick.percent_change_24h%> > 0){
                        block.style.background = "#093";
                    } else {
                        block.style.background = "#d14836";
                    }
                </script>
            </div>
        </a>       
    </div>

    
    <h1 class="header">All Coins</h1>
    <div class="ui four cards">
        <% coins.forEach(function(coin){ %>
            <a href="coin/<%=coin.id%>">
                <div class="ui card" id="<%=coin.symbol%>">
                    <img src="<%=logos[coin.symbol]%>" class="logo">
                    <div class="card-content">
                        <h1 class="coin-name"><%= coin.name %></h1>(<%= coin.symbol %>)
                        <div class="info">
                            <a href="coin/<%=coin.id%>">View More</a>
                        </div> 
                        <div class="price-block <%=coin.id%>">
                            $<%=coin.price_usd%> | <%=coin.percent_change_24h%>%
                        </div>
                    </div>
                    <!--SCRIPT-->
                    <script>
                        var block = document.querySelector(".price-block.<%=coin.id%>");
                        console.log(block);
                        if(<%=coin.percent_change_24h%> > 0){
                            block.style.background = "#093";
                        } else {
                            block.style.background = "#d14836";
                        }
                    </script>
                </div>
            </a>
        <% }) %>
    </div>
</div>



<% include partials/footer %>