<%- include partials/header %>

<!-- <div id="background-popup-darken" style="display:none"></div> -->

<!-- Section: Table of top 100 coins -->
<section class="secion section-table">
    <div class="container">
        <h3 id="header">CryptoMarketPlace - Coinmarketcap API Fetching Site</h3>
        <% if(user && user.favorites.length > 0){ %>
            <h5 class="subheader">Favorites Coins</h5>
            <table class="table" id="table-favorites">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Name (Tick)</th>
                        <th scope="col">USD Price</th>
                        <th scope="col">BTC Price</th>
                        <th scope="col">Market Cap</th>
                        <th scope="col">24hr Price</th>
                        <th scope="col">Favorited</th>                   
                    </tr>
                </thead>
                <tbody id="tbody-favorites">
                    <!-- <% user.favorites.forEach(function(favorite){ %>
                        <tr id="<%= coin.symbol %>">
                            <th scope="col" class="text-center">#<%= coin.rank %></th>
                                <td scope="col"><img src="<%= coin.icon %>" alt="<%= coin.name %>" class="coin-icon"><strong><%= coin.name %></strong> - (<%= coin.symbol %>)</td>
                            <td scope="col" class="text-center" style="color:green">$<%= coin.price_usd %></td>
                            <td scope="col" class="text-center" style="color:orange">฿<%= coin.price_btc %></td>
                            <td scope="col" class="text-center market-cap-usd">$<%= coin.market_cap_usd %></td>
                            <% if(coin.percent_change_24h < 0){ %>
                                <td scope="col" style="color:red" class="text-center"><%= coin.percent_change_24h %>%</td>
                            <% } else { %>
                                <td scope="col" style="color:green" class="text-center">+<%= coin.percent_change_24h %>%</td>
                            <% } %>
                            <% if(user){ %>
                                <td scope="col" class="text-center"> 
                                    <a onclick="toggleFavorite(<%= coin.symbol %>)"><i class="material-icons favorite favorite-<%= coin.symbol %> ">star_border</i></a>
                                </td>
                            <% } %>
                        </tr> 
                    <% }) %> -->
                </tbody>
            </table>
            <br>
        <% } %>
        <h5 class="subheader">All Coins</h5>
        <table class="table" id="table-all">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name (Tick)</th>
                    <th scope="col">USD Price</th>
                    <th scope="col">BTC Price</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">24hr Price</th>
                    <% if(user){ %>
                        <th scope="col">Favorited</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% coins.forEach(function(coin){ %>
                    <tr id="<%= coin.symbol %>">
                        <th scope="col" class="text-center">#<%= coin.rank %></th>
                            <td scope="col"><img src="<%= coin.icon %>" alt="<%= coin.name %>" class="coin-icon"><strong><%= coin.name %></strong> - (<%= coin.symbol %>)</td>
                        <td scope="col" class="text-center" style="color:green">$<%= coin.price_usd %></td>
                        <td scope="col" class="text-center" style="color:orange">฿<%= coin.price_btc %></td>
                        <td scope="col" class="text-center market-cap-usd">$<%= coin.market_cap_usd %></td>
                        <% if(coin.percent_change_24h < 0){ %>
                            <td scope="col" style="color:red" class="text-center"><%= coin.percent_change_24h %>%</td>
                        <% } else { %>
                            <td scope="col" style="color:green" class="text-center">+<%= coin.percent_change_24h %>%</td>
                        <% } %>
                        <% if(user){ %>
                            <td scope="col" class="text-center"> 
                                <a class="favorite-item"><i class="material-icons favorite" id="favorite-<%= coin.symbol %>">star_border</i></a>
                            </td>
                        <% } %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</section>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="scripts/ajax.js"></script>

<%- include partials/footer %>