<%- include partials/header %>

<!-- <div id="background-popup-darken" style="display:none"></div> -->

<!-- Section: Table of top 100 coins -->
<section class="secion section-table">
    <div class="container">
        <h4>CryptoMarketPlace - Coinmarketcap API Fetching Site</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name (Tick)</th>
                    <th scope="col">USD Price</th>
                    <th scope="col">BTC Price</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">24hr Price</th>
                    <th scope="col">Favorited</th>
                </tr>
            </thead>
            <tbody>
                <% coins.forEach(function(coin){ %>
                    <tr>
                        <th scope="col" class="text-center">#<%= coin.rank %></th>
                        <td scope="col"><img src="icons/<%= coin.symbol %>.png" alt="<%= coin.name %>" class="coin-icon"><strong><%= coin.name %></strong> - <%= coin.symbol %></td>
                        <td scope="col" class="text-center" style="color:green">$<%= coin.price_usd %></td>
                        <td scope="col" class="text-center" style="color:orange">฿<%= coin.price_btc %></td>
                        <td scope="col" class="text-center">$<%= coin.market_cap_usd %></td>
                        <% if(coin.percent_change_24h < 0){ %>
                            <td scope="col" style="color:red" class="text-center"><%= coin.percent_change_24h %>%</td>
                        <% } else { %>
                            <td scope="col" style="color:green" class="text-center">+<%= coin.percent_change_24h %>%</td>
                        <% } %>
                        <td scope="col" class="text-center">#</td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</section>

<%- include partials/footer %>